body {
	margin: 0;
}
header {
	background-color: #cc0000;
	color: #ffffff;
	padding-bottom: 1px;
	padding-left: 16px;
	padding-top: 1px;
}
header h1 {
	margin-bottom: 16px;
	margin-top: 16px;
}
header .subheading1 {
	display: block;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 16px;
}
html {
	background-color: #f2f2f2;
	font-family: serif;
}
#face {
	border: 4px solid #808080;
	border-radius: 128px;
	width: 256px;
}
#page-body {
	float: left;
	margin-left: 16px;
	margin-right: 328px;
}
#sidebar {
	background-color: #cccccc;
	border-radius: 16px;
	right: 0;
	margin: 16px;
	max-width: 264px;
	padding: 16px;
	position: absolute;
}
#sidebar h1 {
	font-size: 24px;
}
