body {
	height: 100%;
	margin: 0;
}
header {
	background-color: #cc0000;
	color: #ffffff;
	flex: none;
	padding: 1px 16px;
}
header h1 {
	margin: 16px 0px;
}
header .subheading1 {
	display: block;
	font-style: italic;
	font-weight: bold;
	margin: 16px 0px;
}
html {
	background-color: #f2f2f2;
	font-family: serif;
	height: 100%;
}
.flexrow {
	display: flex;
	flex-direction: row;
}
.flexcol {
	display: flex;
	flex-direction: column;
}
#pagebody {
	flex: auto;
	height: auto;
}
#face {
	align-self: center;
	border: 4px solid #808080;
	border-radius: 128px;
	max-width: 100%;
}
#mainpage {
	flex: auto;
	margin: 0px 16px;
}
#mainpage h1 {
	font-weight: normal;
}
#navbar {
	background-color: #cccccc;
	min-width: 120px
}
#navbar .navlink {
	color: #000000;
	display: block;
	font-weight: bold;
	padding: 10px 20px;
	text-decoration: none;
}
#navbar .navcurrent {
	background-color: #aaaaaa;
	display: block;
	font-style: italic;
	font-weight: bold;
	padding: 10px 20px;
}
#sidebar {
	background-color: #cccccc;
	border-radius: 16px;
	flex: 0 1 256px;
	margin: 16px;
	padding: 16px 20px;
}
#sidebar h1 {
	font-size: 24px;
}
