body {
	height: 100%;
	margin: 0;
}
header {
	background-color: #cc0000;
	color: #ffffff;
	flex: none;
	padding: 0 1.6vw;
}
header h1 {
	margin: 2vh 0;
}
header .subheading1 {
	display: block;
	font-style: italic;
	font-weight: bold;
	margin: 2vh 0;
}
html {
	background-color: #f2f2f2;
	font-family: serif;
	font-size: 1.2vmax;
	height: 100%;
}
.flexrow {
	display: flex;
	flex-direction: row;
}
.flexcol {
	display: flex;
	flex-direction: column;
}
#pagebody {
	flex: auto;
	height: auto;
}
#face {
	align-self: center;
	border: 0.4vw solid #808080;
	border-radius: 9vw;
	max-width: 100%;
}
#mainpage {
	flex: auto;
	margin: 0 1vw;
}
#mainpage h1 {
	font-weight: normal;
}
#navbar {
	background-color: #cccccc;
	min-width: 10vw;
}
#navbar .navlink {
	color: #000000;
	display: block;
	font-weight: bold;
	padding: 2vh 1vw;
	text-decoration: none;
}
#navbar .navcurrent {
	background-color: #aaaaaa;
	display: block;
	font-style: italic;
	font-weight: bold;
	padding: 2vh 1vw;
}
#sidebar {
	background-color: #cccccc;
	border-radius: 1.2vmax;
	flex: 0 1 18vw;
	margin: 1.2vmax;
	padding: 1.2vmax 1.6vmax;
}
#sidebar h1 {
	font-size: 150%;
}
